[submodule "lib/socket.io"]
	path = lib/socket.io
	url = http://github.com/LearnBoost/Socket.IO-node.git
[submodule "public/io"]
	path = public/io
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "public/websocket-js"]
	path = public/websocket-js
	url = http://github.com/gimite/web-socket-js.git
