[submodule "lib/socket.io"]
	path = lib/socket.io
	url = http://github.com/LearnBoost/Socket.IO-node.git
[submodule "public/io"]
	path = public/io
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "public/websocket-js"]
	path = public/websocket-js
	url = http://github.com/gimite/web-socket-js.git
[submodule "lib/step"]
	path = lib/step
	url = http://github.com/creationix/step.git
[submodule "lib/world-db"]
	path = lib/world-db
	url = http://github.com/creationix/world-db.git
[submodule "lib/connect"]
	path = lib/connect
	url = http://github.com/senchalabs/connect.git
