div.grass-block{ background-position: -0px -0px; }
div.dirt-block{ background-position: -0px -171px; }
div.water-block{ background-position: -0px -342px; }
div.stone-block{ background-position: -0px -513px; }
div.stone-block-tall{ background-position: -0px -684px; }
div.wood-block{ background-position: -101px -0px; }
div.brown-block{ background-position: -101px -171px; }
div.plain-block{ background-position: -101px -342px; }
div.wall-block{ background-position: -101px -513px; }
div.wall-block-tall{ background-position: -101px -684px; }
div.ramp-west{ background-position: -202px -0px; }
div.ramp-east{ background-position: -202px -171px; }
div.ramp-north{ background-position: -202px -342px; }
div.ramp-south{ background-position: -202px -513px; }
div.window-tall{ background-position: -202px -684px; }
div.roof-west{ background-position: -303px -0px; }
div.roof-north-west{ background-position: -303px -171px; }
div.roof-south-west{ background-position: -303px -342px; }
div.roof-south{ background-position: -303px -513px; }
div.door-tall-closed{ background-position: -303px -684px; }
div.roof-east{ background-position: -404px -0px; }
div.roof-north-east{ background-position: -404px -171px; }
div.roof-south-east{ background-position: -404px -342px; }
div.roof-north{ background-position: -404px -513px; }
div.door-tall-open{ background-position: -404px -684px; }
div.tree-tall{ background-position: -505px -0px; }
div.chest-open{ background-position: -505px -171px; }
div.gem-green{ background-position: -505px -342px; }
div.key{ background-position: -505px -513px; }
div.selector{ background-position: -505px -684px; }
div.tree-short{ background-position: -606px -0px; }
div.chest-closed{ background-position: -606px -171px; }
div.gem-orange{ background-position: -606px -342px; }
div.star{ background-position: -606px -513px; }
div.speechbubble{ background-position: -606px -684px; }
div.tree-ugly{ background-position: -707px -0px; }
div.rock{ background-position: -707px -171px; }
div.gem-blue{ background-position: -707px -342px; }
div.heart{ background-position: -707px -513px; }
div.enemy-bug{ background-position: -707px -684px; }
div.character-boy{ background-position: -808px -0px; }
div.character-pink-girl{ background-position: -808px -171px; }
div.character-cat-girl{ background-position: -808px -342px; }
div.character-horn-girl{ background-position: -808px -513px; }
div.character-princess-girl{ background-position: -808px -684px; }